MissSexo/config.py
MissSexo/*.session
MissSexo/*.session-journal
MissSexo/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MissSexo/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
misssexo.session-journal
updates.txt
*.exe
